body {
    font-size: 18px;
    font-family: 'Neucha', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rancho', cursive;
}

$responsive: 1200px !default;

.page {
    //max-width: 1200px;
    overflow: hidden;
}

.mobile {
    display: none;
    color: #fff;
    padding: 2em;
    background:#8155BA radial-gradient(50% 212%, rgba(178,129,204,0.50) 1%, rgba(0,0,0,0.50) 100%);
    text-align: center;

    @media (max-width: $responsive) {
        display: block;
    }
}

.hero {
    background: #000 url('/images/hero.png') no-repeat center top;
    background-size: cover;
    background-position: center;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @media (max-width: $responsive) {
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

    nav {
        display: flex;
        margin: 3em;
        align-items: center;

        @media (max-width: $responsive) {
            flex-grow: 1;
            align-items: flex-start;
            
            justify-content: center;

            .icon {
                display: none;
            }
        }

        .icon {
            font-size: 2em;
            font-family: 'Rancho', cursive;
            color: #999;
            flex-grow: 1;
        }

        .links {
            text-align: right;
            font-size: 1.2em;

            @media (max-width: $responsive) {
                text-align: center;
            }

            a {
                color: #fff;
                margin-left: 2em;

                @media (max-width: $responsive) {
                    margin: .25em;
                    display: inline;
                }
            }
        }
    }

    .biog {
        text-align: center;
        margin: 8em 5% 8em 60%;
        font-size: 0.95em;
        color: #ddd;

        @media (max-width: $responsive) {
            margin: 0;

            p {
                display: none !important;
            }
        }

        h1 {
            color: #fff;
            font-size: 3em;
            margin-bottom: 0;
            text-shadow: 0 1px 1px #333;

            @media (max-width: $responsive) {
                font-size: 2.5em;
            }
        }

        h2 {
            color: #fff;
            margin-bottom: 0.5em;
            text-shadow: 0 1px 1px #333;

            @media (max-width: $responsive) {
                font-size: 1.5em;
            }
        }

        .socials {
            margin: 2em 0;

            @media (max-width: $responsive) {
                margin: 0;
            }

            a {
                margin: 0 0.5em;

                img {
                    max-height: 2em;
                }
            }
        }

        .contact-agent {
            background: #8B77A4;
            display: inline-block;
            padding: 0.5em 2em;
            border-radius: 0.25em;
            color: #fff;
            margin-bottom: 4em;
            
            @media (max-width: $responsive) {
                margin: 1em 0 2em 0;
            }
        }
    }
}

.tagline {
    text-align: center;
    padding: 0.75em;
    font-family: 'Rancho', cursive;
    color: #fff;
    font-size: 2.5em;
    background:#8155BA radial-gradient(50% 212%, rgba(178,129,204,0.50) 1%, rgba(0,0,0,0.50) 100%);

    @media (max-width: $responsive) {
        border-top: 3px solid #fff;
    }
}

.showreel {
    display: flex;

    @media (max-width: $responsive) {
        flex-direction: column;
    }

    .vimeo {
        flex-basis: 60%;
        background: #797979;

        @media (max-width: $responsive) {
            iframe {
                min-height: 400px !important;
            }
        }

        @media (max-width: $responsive) {
            flex-basis: 100%;
            order: 2;
        }
    }

    .copy {
        color: #fff;
        flex-basis: 40%;
        background: #8B8B8B;
        padding: 1.5em;

        @media (max-width: $responsive) {
            flex-basis: 100%;
            order: 1;
        }

        a {
            color: inherit;
        }

        h3 {
            font-size: 2.4em;
            margin-bottom: 0.5em;
        }

        .sites {
            margin-top: 1.5em;
            
            img {
                max-height: 2em;
                margin-right: 1em;
            }
        }
    }
}

.credits {
    display: flex;
    background:#8155BA radial-gradient(50% 212%, rgba(178,129,204,0.50) 1%, rgba(0,0,0,0.50) 100%);
    padding: 2em;
    color: #fff;
    align-items: center;

    @media (max-width: $responsive) {
        flex-direction: column;
    }

    .copy {
        text-align: left;
        font-size: 2em;
        font-family: 'Rancho', cursive;
        padding-right: 2em;

        @media (max-width: $responsive) {
            flex-basis: 100%;
            order: 1;
            text-align: center;
            padding: 1em;
        }
    }

    .posters {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        img {
            margin-right: 1em;
            max-height: 10em;
        }

        @media (max-width: $responsive) {
            flex-basis: 100%;
            order: 2;
            justify-content: space-evenly;

            img {
                margin-bottom: 1em;
            }
        }
    }
}

.gallery {
    margin-top: -5px;
    margin-bottom: -11px;
    background: #444;

    .nGY2GThumbnail {
        border: 0 !important;
    }
}

.contact {
    color: #fff;
    background: #695682;
    display: flex;

    a {
        color: inherit;
    }

    @media (max-width: $responsive) {
        flex-direction: column;
    }

    h3 {
        font-size: 2em;
    }

    .agent {
        padding: 2em;
        flex-basis: 60%;
        display: flex;
        background: #041721;

        @media (max-width: $responsive) {
            flex-basis: 100%;
            flex-direction: column;

            img {
                display: none;
            }
        }

        .details {
            flex-grow: 1;
            margin-left: 1em;

            .each {
                display: flex;

                p {
                    flex-grow: 1;
                    line-height: 2em;
                }
            }
        }
    }

    .direct {
        flex-basis: 40%;
        padding: 2em;

        @media (max-width: $responsive) {
            flex-basis: 100%;
        }
    }
}

.headshots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div {
        background-position: center center;
        background-size: cover;
        flex-grow: 1;
        flex-shrink: 1;
        height: 350px;
        width: 20%;

        @media (max-width: $responsive) {
            display: none;

            &:first-child {
                display: block;
            }
        }
    }
}

footer {
    padding: 2em 2em 1.5em 2em;
    background: #22262D;
    color: #fff;
}